---
import { LinkButton  } from "@astrojs/starlight/components";

interface Props {
	title: string;
  action: string;
  actionText: string;
}

const { title, action, actionText } = Astro.props;
---

<div class="get-started-container not-content" data-pagefind-ignore>
	<h2 class="get-started-title">{title}</h2>
  <div class="get-started-action-container">
    <LinkButton variant="primary" href={action} icon="rocket" icon-position="suffix">
      {actionText}
    </LinkButton>
</div>

<style>
	.get-started-container {
		margin-block: 5rem 2.5rem !important;
		font-size: clamp(var(--sl-text-sm), calc(0.5rem + 1vw), var(--sl-text-body));
	}
	.get-started-title {
		text-align: center;
		font-size: var(--sl-text-h3);
		font-weight: 600;
		color: var(--sl-color-white);
		line-height: var(--sl-line-height-headings);
	}
	.get-started-action-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
	}
</style>
